@{
    ViewData["Title"] = "Calendar of daily image links";
    string[] moNames = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
    ViewData["CurrentMonth"] = moNames[DateTime.Now.Month - 1];
    ViewData["CurrentYear"] = DateTime.Now.Year;
}

<div class="text-center">
    <p>@ViewData["CurrentMonth"] ViewData["CurrentYear"]</p>
    <div class="cal-grid"></div>
</div>
